.header__welcome-logout {
  display: flex;
  align-items: center;
}

.logout-box {
  display: flex;
  align-items: center;
  list-style: none;
}

.user-menu-container {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;
}

.Logout-template{
  cursor: pointer;
  color: white;
}  

.user-menu {
  position: absolute;
  top: 25px; // Đặt menu ngay bên dưới icon user (chỉnh giá trị này nếu cần)
  left: 50%; // Đặt ở giữa phần tử chứa
  transform: translateX(-50%); // Dịch chuyển để căn giữa
  
  background-color: black;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 15px; // Tăng padding để menu rộng hơn
  width: 150px; // Tăng chiều rộng menu
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;

    li {
      padding: 10px 15px; // Tăng khoảng cách bên trong các mục menu
      cursor: pointer;
      color: #333;
      font-size: 16px;

      &:hover {
        background-color: #c31d1d;
      }
    }
  }
}

.header{
  height: 70px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(9px);
  

  &__navigate{

      .search {
          list-style: none;
          
          .search-container {
            position: relative;
            width: 100%; /* Đảm bảo chiếm toàn bộ chiều rộng mong muốn */
            
          }
        
          .ant-input-search {
            width: 100%; 
            
            
          }
        
          .ant-input-affix-wrapper {
            width: 100%;
            border-radius: 50px;
            padding-right: 100px; 
            
          }
        
          .ant-btn {
            position: absolute;
            right: 0; 
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            
          }
        }
        
      ul{
          display: flex;
          gap: 50px;
          align-items: center;

          a{
              list-style: none;
              text-decoration: none;
              font-size: 22px;
              color: rgb(255, 255, 255);
              font-weight: 400;
              

              &:hover{
                  color: white;
                  &::after{
                      width: 100%;
                      
                  }
              }

              &::after{
                  content: "";
                  display: block;
                  
                  width: 0;
                  height: 3px;
                  background-color: rgb(255, 255, 255);
                  transition: all 0.3s;
              }
          }
      }
  }

  &__welcome-logout{
      .logout-box{
          display: flex;
          gap: 30px;

          li{
              list-style: none;
              cursor: pointer;
              text-decoration: underline;
              color: rgb(255, 255, 255);
          }
          
      }

      a{
          color: white;
      }
  }
}

