.background{
    background-image: url("https://animals.sandiegozoo.org/sites/default/files/2016-11/Koi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .add-consignment {
      padding: 2rem;
      max-width: 600px;
      margin: 0 auto;
      
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      
      background-repeat: no-repeat;
      background-size: cover;
      h1 {
        text-align: center;
        font-size: 1.8rem;
        color: #ffffff;
        margin-bottom: 1.5rem;
      }
    
      .ant-form-item {
        margin-bottom: 1rem;
    
        label {
          font-weight: bold;
          color: #ffffff;
        }
    
        input,
        textarea,
        .ant-picker,
        .ant-input-number,
        .ant-select {
          width: 100%;
          border-radius: 4px;
          padding: 0.5rem;
          transition: all 0.3s;
    
          &:focus,
          &:hover {
            border-color: #40a9ff;
            box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
          }
        }
      }
    
      .ant-select {
        .ant-select-selector {
          padding: 0.5rem !important;
          border-radius: 4px !important;
        }
      }
    
      .ant-btn-primary {
        width: 100%;
        height: 3rem;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 4px;
        transition: all 0.3s;
    
        &:hover {
          background-color: #3a8dff;
          border-color: #3a8dff;
        }
      }
    }